.header {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    background-color: #fafafa;
    height: 96px;

    &__logo {
        img {
            height: 65px;
            // width: 64px;
            border-radius: 6px;
        }
    }
}